@import "bourbon/bourbon"
@import "sass/_vars"
@import "sass/_custom"

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.25
	font-family: "PFDDP-Regular", sans-serif
	overflow-x: hidden

.hidden
	display: none

.header
	/*lines start*/
	&__line
		position: relative
		&-gray
			background-color: #333
			height: 50px
		&-white
			padding-top: 33px
			padding-bottom: 30px
		&-popular
			min-height: 412px
			background-color: #00009f
			background-image: url(../img/index-fon.jpg)
			background-repeat: no-repeat
			background-position: center center
			position: relative
		&-img
			position: absolute
			display: block
			left: 0
			right: 0
			margin: 0 auto
			bottom: 0

	/*line end*/
	/*blocks start*/
	&__top
		@extend .clearfix
		&-left
			float: left
		&-right
			float: right
	&__bottom
		&-left
			padding-left: 28px
		&-right
			margin-top: -13px
			padding-right: 36px
	&__popular
		min-height: 412px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		-webkit-align-items: center
		-webkit-box-align: center
		-ms-flex-align: center
		align-items: center
		&-left
			padding-left: 28px
		&-right
			width: 100%
	/*blocks end*/
.main
	&__section
		&-white
			background-color: #fff
			padding-top: 40px
		&-blue
			background-color: #00009d
		&-gray
			background-color: #dde6ef
			padding-top: 40px
		&-ots
			padding: 0 28px

/*components*/

.nav
	font-size: 0
	&__item
		display: inline-block
		padding: 0 10px
	&__link
		font-size: 18px
		line-height: 50px
		padding: 0 20px
		color: #fff
		display: block
		position: relative
		&::after
			content: ''
			height: 4px
			width: 100%
			display: block
			background-color: transparent
			position: absolute
			left: 0
			right: 0
			bottom: 0
		&:hover
			text-decoration: none
			color: #fff
			border-color: #ff3068
			&::after
				background-color: #ff3068

.logo
	&__link
		display: inline-block
		@extend .clearfix
	&__img
		display: block
		width: 207px
		height: 44px
		float: left
	&__text
		display: block
		font-size: 16px
		color: #666
		float: left
		margin-top: 3px
		padding-left: 20px

.openhours
	padding-left: 24px
	position: relative
	&::before
		content: ''
		display: block
		width: 14px
		height: 14px
		background-image: url(../img/icons/h-time.png)
		background-repeat: no-repeat
		background-position: center center
		position: absolute
		left: 0
		top: 3px
	&__text
		color: #666
		font-size: 15.64px
	&__link
		font-size: 16.63px
		color: #666
		text-decoration: underline
		display: inline-block
		margin-top: 6px
		&:hover
			color: #666
			text-decoration: none

.phone
	text-align: right
	&__number
		font-size: 27.89px
		color: #0000a0
		line-height: 34px
		font-family: "PFDDP-Bold", sans-serif
		&-small
			font-size: 20px
			font-family: "PFDDP-Regular", sans-serif
		&:hover
			text-decoration: none
			color: #0000a0
	&__backcall
		color: #666
		font-size: 16px
		text-decoration: underline
		display: inline-block
		margin-top: 2px
		&:hover
			color: #666
			text-decoration: none

.basicinformation
	&__title
		font-family: "PFDDP-Medium", sans-serif
		font-size: 45px
		text-transform: uppercase
		color: #fff
		line-height: 45px
		&-small
			text-transform: none
			font-size: 40px
	&__description
		color: #f73366
		font-size: 25px
		display: inline-block
		margin-top: 8px
		margin-bottom: 20px
	&__button
		padding: 0 60px
		height: 50px
		border: 1px solid #fff
		color: #fff
		background-color: transparent
		font-size: 18px
		&:hover
			background-color: #cc3366
			border-color: #cc3366

.basicform
	background-color: #fff
	padding: 25px
	position: relative
	margin-bottom: 25px
	width: 100%
	&__title
		text-align: center
		color: #ed3068
		font-size: 24px
		font-family: "PFDDP-Bold", sans-serif
	&__description
		text-align: center
		font-size: 18px
		color: #ed3068
		font-family: "PFDDP-Medium", sans-serif
		padding-bottom: 20px
	&__input
		display: block
		height: 50px
		border: 1px solid #a0a0a0
		width: 100%
		margin-bottom: 20px
		padding: 0 8px
		text-align: center
		box-sizing: border-box
		font-family: "PFDDP-Light", sans-serif
		color: #000
	&__textarea
		display: block
		height: 70px
		border: 1px solid #a0a0a0
		width: 100%
		margin-bottom: 20px
		padding: 8px
		text-align: center
		box-sizing: border-box
		font-family: "PFDDP-Light", sans-serif
		color: #000
	&__radio
		min-height: 31px
		&-input
			display: none
		&-text
			padding-left: 46px
			display: inline-block
			font-size: 14px
			line-height: 12px
			color: #666
			position: relative
			cursor: pointer
			&::before
				content: ''
				width: 31px
				height: 31px
				position: absolute
				border: 1px solid #9a9a9a
				border-radius: 50%
				display: block
				left: 0
				top: 50%
				margin-top: -15.5px
				display: block
			&::after
				content: ''
				width: 13px
				height: 13px
				background-color: #9a9a9a
				border-radius: 50%
				background-repeat: no-repeat
				background-position: center center
				position: absolute
				left: 9px
				top: 50%
				transform: translateY(-50%)
				-webkit-transform: translateY(-50%)
				display: none
	&__check
		min-height: 31px
		&-input
			display: none
		&-text
			padding-left: 46px
			display: inline-block
			font-size: 14px
			line-height: 12px
			color: #666
			position: relative
			cursor: pointer
			&::before
				content: ''
				width: 31px
				height: 31px
				position: absolute
				border: 1px solid #9a9a9a
				display: block
				left: 0
				top: 50%
				margin-top: -15.5px
				display: block
			&::after
				content: ''
				width: 31px
				height: 31px
				background-image: url(../img/icons/b-check.png)
				background-repeat: no-repeat
				background-position: center center
				position: absolute
				left: 0
				top: 50%
				margin-top: -15.5px
				display: none
		&-underl
			text-decoration: underline
	&__button
		margin-bottom: -50px
		display: block
		width: 100%
		box-sizing: border-box
		margin-top: 20px

.categoryItem
	display: block
	height: 245px
	padding: 0 16px
	&:hover
		text-decoration: none
		background-color: #ff2e67
		.categoryItem__title
			color: #fff
	&__top
		height: 150px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		-webkit-align-items: center
		-webkit-box-align: center
		-ms-flex-align: center
		align-items: center
		justify-content: center
		-webkit-justify-content: center
	&__img
		display: inline-block
	&__bottom
		height: 78px
		text-align: center
	&__title
		display: inline-block
		font-size: 25px
		color: #303030
		font-family: "PFDDP-Light", sans-serif

.whyslider
	&__item
	&__left
		position: relative
		min-height: 390px
		padding-left: 28px
	&__title
		font-size: 76px
		color: #ff2e67
		font-family: "PFDDP-Light", sans-serif
		line-height: 81px
	&__description
		font-size: 23px
		color: #303030
		font-family: "PFDDP-Light", sans-serif
		font-size: 24px
	&__img
		display: block
		max-width: 100%
		max-height: 90%
		position: absolute
		right: 0
		top: 50%
		transform: translateY(-50%)
		-webkit-transform: translateY(-50%)
		z-index: -1
	&__right
	&__universality
		@extend .clearfix
		padding-bottom: 14px
	&__count
		display: block
		float: left
		color: #9a9a9a
		font-size: 84px
		line-height: 70px
		font-family: "PFDDP-Light", sans-serif
		&::after
			content: '/'
	&__subtitle
		display: block
		float: left
		font-size: 30px
		line-height: 70px
		color: #ff2e67
		margin-left: 20px
	&__list
		padding-right: 28px
		&-item
			display: block
			padding-left: 20px
			position: relative
			font-size: 17px
			color: #000
			font-family: "PFDDP-Light", sans-serif
			margin-bottom: 18px
			&::before
				content: ''
				width: 8px
				height: 8px
				display: block
				border-radius: 50%
				background-color: #ff2e67
				position: absolute
				left: 0
				top: 8px

.advantagesslider
	&__left
		min-height: 466px
		padding-top: 80px
	&__title
		font-size: 210px
		line-height: 210px
	&__description
		color: #fff
	&__img
		max-height: 100%
	&__text
		color: #fff
		padding-top: 20px

.steps
	padding-bottom: 50px
	&__item
		padding: 20px 0
	&__top
		position: relative
	&__img
		width: 140px
		height: 140px
		text-align: center
		border-radius: 50%
		overflow: hidden
		display: block
		margin: 0 auto
	&__count
		font-size: 62px
		color: #ff2e67
		line-height: 55px
		position: absolute
		top: 50%
		transform: translateY(-50%)
		-webkit-transform: translateY(-50%)
		font-family: "PFDDP-Light", sans-serif
		left: 25px
		&::after
			content: '/'
	&__content
		padding: 20px 10px 0
	&__title
		display: block
		text-align: center
		color: #ff2e67
		font-size: 20px
		font-family: "PFDDP-Medium", sans-serif
		text-transform: uppercase
	&__description
		display: block
		text-align: center
		font-size: 14px
		color: #000

.waysof
	min-height: 370px
	position: relative
	&__left
		background-repeat: no-repeat
		background-size: 100% 100%
		padding-left: 28px
		min-height: 370px
	&__subtitle
		font-size: 30px
		color: #000
		font-family: "PFDDP-Light", sanjs-serif
		padding-top: 70px
	&__center
		position: absolute
		top: 50%
		transform: translateY(-50%)
		-webkit-transform: translateY(-50%)
		left: 0
		right: 0
	&__list
		border: 3px solid #ff2e67
		padding: 30px 0
		background-color: #fff
	&__item
		display: block
		text-align: center
		padding: 10px 0
		&-active
			.waysof__link
				color: #ff2e67
				&:hover
					color: #ff2e67
	&__link
		color: #000
		font-size: 17px
		letter-spacing: 0.3px
		text-transform: uppercase
		&:hover
			text-decoration: none
			color: #ff2e67
	&__right
		position: absolute
		top: 50px
		left: 0
		right: 0
	&__title
		display: block
		text-align: center
		color: #ff3068
		font-size: 30px
		font-family: "PFDDP-Medium", sans-serif
	&__description
		display: block
		text-align: center
		color: #000
		font-size: 14px

.wdyn
	padding: 0 20px
	height: 510px
	position: relative
	&:hover
		background-color: #0000a0
		.wdyn__title
			color: #fff
		.wdyn__description
			color: #fff
		.wdyn__button
			display: block
	&__top
		height: 160px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		-webkit-align-items: center
		-webkit-box-align: center
		-ms-flex-align: center
		align-items: center
		justify-content: center
		-webkit-justify-content: center
	&__img
		display: block
	&__title
		display: block
		text-align: center
		font-size: 25px
		color: #ff2e67
		font-family: "PFDDP-Medium", sans-serif
	&__description
		display: block
		text-align: center
		color: #000
		font-size: 14px
	&__button
		display: block
		border: 1px solid #fff
		height: 50px
		line-height: 48px
		text-align: center
		color: #fff
		position: absolute
		bottom: 46px
		left: 20px
		right: 20px
		display: none
		&:hover
			text-decoration: none
			color: #fff

.question
	min-height: 395px
	position: relative
	border: 3px solid #ff3368
	margin-bottom: 70px
	&__top
		display: inline-block
		position: absolute
		top: -24px
		left: 0
		right: 0
		text-align: center
	&__title
		text-align: center
		color: #303030
		font-size: 30px
		background-color: #fff
		display: inline-block
		padding: 0 10px 10px
	&__description
		text-align: center
		color: #000
		font-size: 14px
		background-color: #fff
		display: inline-block
		padding: 0 10px
	&__left
		position: absolute
		left: -90px
		position: absolute
		background-color: #fff
		text-align: right
		top: 50%
		transform: translateY(-50%)
		-webkit-transform: translateY(-50%)
		padding-top: 8px
		padding-bottom: 22px
	&__name
		color: #ff2e67
		font-size: 25px
		font-family: "PFDDP-Medium", sans-serif
	&__inform
		color: #000
		font-size: 14px
		line-height: 25px
		a
			color: #0000a0
			text-decoration: underline
			font-family: "PFDDP-Medium", sans-serif
	&__right
		text-align: left
		left: auto
		right: -120px
		top: 50%
		transform: translateY(-50%)
		-webkit-transform: translateY(-50%)
		padding-top: 8px
		padding-bottom: 22px
		background-color: #fff
		display: inline-block
		position: absolute
	&__bottom
		position: absolute
		bottom: -25px
		left: 0
		right: 0
		text-align: center
	&__button
		text-transform: none
		display: inline-block
		padding: 0 60px
	&__img
		position: absolute
		&-left
			width: 50%
			left: 0
			top: 0
			bottom: 0
			text-align: right
			padding-top: 52px
			padding-right: 10px
		&-right
			width: 50%
			right: 0
			top: 0
			bottom: 0
			text-align: left
			padding-top: 57px
			padding-left: 10px

.clients
	padding-bottom: 20px
	&__item
		height: 90px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		-webkit-align-items: center
		-webkit-box-align: center
		-ms-flex-align: center
		align-items: center
		justify-content: center
		-webkit-justify-content: center
	&__img
		display: inline-block

.reviews-wrapper
	top: 90px
	background-color: #fff
	left: 0
	right: 0
	position: absolute
	padding-bottom: 40px

.reviews
	margin-top: -35px
	&__slider
		.slick-arrow
			bottom: -130px
			background-color: #fff !important
		.slick-prev
			left: -70px
			right: 0
			margin: 0 auto
		.slick-next
			left: 0
			right: -70px
			margin: 0 auto
	&__item
		text-align: center
	&__img
		display: inline-block !important
		margin-bottom: 25px
	&__name
		display: block
		color: #ff2e67
		font-size: 19px
		font-family: "PFDDP-Medium", sans-serif
	&__subtitle
		display: block
		color: #000
		font-size: 14px
	&__description
		display: block
		font-size: 14px

.footer
	background-color: #0000a0
	&__line
		padding-bottom: 30px;
		padding-top: 33px;

.copy
	&__text
		font-size: 15px
		color: #fff
		padding-top: 4px

.sitemap
	text-align: right
	padding-right: 28px
	padding-top: 3px
	&__text
		text-transform: uppercase
		font-size: 14px
		letter-spacing: 0.5px
		color: #fff
		display: inline-block
		padding-bottom: 6px
	&__link
		display: inline-block
		width: 88px
		height: 15px
		background-image: url(../img/ban.jpg)
		background-repeat: no-repeat
		background-position: center center

.ourteam
	&__title
		font-size: 50px
		color: #333
		display: block
		text-align: center
	&__description
		text-align: center
		display: block
		color: #000
		font-size: 16px
	&__item
		padding: 20px 0
	&__top
		width: 140px
		height: 140px
		border-radius: 50%
		overflow: hidden
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		-webkit-align-items: center
		-webkit-box-align: center
		-ms-flex-align: center
		align-items: center
		justify-content: center
		-webkit-justify-content: center
		background-color: #dee6ef
		margin: 0 auto 20px
	&__img
	&__name
		display: block
		text-align: center
		color: #f83265
		font-size: 20px
		font-family: "PFDDP-Medium", sans-serif
	&__prof
		color: #000
		font-size: 14px
		text-align: center
		padding-top: 10px

/*form*/
.form-backcall
	width: 320px

.form-label
	color: #666
	font-size: 16px
	display: block
	font-family: "PFDDP-Light", sans-serif
	text-align: left
	padding: 0 20px 10px

.form-add
	height: 50px
	display: block
	line-height: 24px
	border: 1px solid #a0a0a0
	width: 100%
	margin-bottom: 20px
	margin-top: 30px
	padding: 0 8px
	text-align: center
	box-sizing: border-box
	font-family: "PFDDP-Light", sans-serif
	color: #000
	cursor: pointer

.form-add__textarea
	text-align: left
	padding-left: 20px
	padding-right: 20px
	resize: none

.input__file
	position: relative
	overflow: hidden
	width: 100%
	height: 50px
	background-color: transparent
	line-height: 48px
	text-align: center
	border: 1px solid #a0a0a0
	color: #a0a0a0
	margin-bottom: 24px
	cursor: pointer
	input[type="file"]
		display: none
	label
		display: block
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		cursor: pointer
	span
		line-height: 36px

.file__text
	font-size: 14px
	line-height: 12px
	color: #666
	text-align: left
	padding-top: 12px

.waysof
	&__left, &__right
		&-2, &-3, &-4, &-5
			display: none

a
	&:active, &:focus
		text-decoration: none